! Cursor
Xcursor.theme: Bibata-Modern-Ice
Xcursor.size: 32

! 150% scaling
Xft.dpi: 144

! Blossom colors
*.foreground:   #fcfcfc
*.background:   #212630
*.cursorColor:  #fcfcfc

*.color0:       #272B36
*.color8:       #565B6A

*.color1:       #E28479
*.color9:       #EC8E83

*.color2:       #70B791
*.color10:      #7AC19B

*.color3:       #DFC266
*.color11:      #DFCC70

*.color4:       #839AEC
*.color12:      #8DA4F6

*.color5:       #D18493
*.color13:      #DB8E9D

*.color6:       #78B3C5
*.color14:      #82BDCF

*.color7:       #D2D2D4
*.color15:      #D1D1D3
