@import "common.rasi"

* {
  accent-color: @color5;
}

window {
  width: 750px;
}

entry {
  placeholder: "  Search...";
}

listview {
  lines: 10;
}

element selected {
  text-color: @background-color;
}
